body
{
    margin:0;
    padding:0;
}

#wait
{
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -70px;
	margin-left: -100px;
	width:200px;
	height:140px;
	background-color:green;
	z-index: 5;
	opacity:0.6;
	border-bottom-left-radius: 15px 15px;
    border-bottom-right-radius: 15px 15px;
    border-top-right-radius: 15px 15px;
    border-top-left-radius: 15px 15px;
    border-width:5px;	
	border-style:dashed;
}

#waittxt
{
	margin:auto;
	text-align:center;
	vertical-align: middle;
	font-family:arial;color:black;font-size:16px;
	line-height:60px;
	cursor:default;
}

#disconnect
{
	position:absolute;
	right:0%;
	margin-right:10px;
	margin-top:10px;
	height:40px;
	width:40px;
	z-index: 3;
	cursor:default;
	background-image: url(../data/UI/disconnect.png);
}

#UI1
{
	position: fixed;
	bottom: 0%;
	left: 50%;
	margin-bottom: 20px;
	margin-left: -20px;
	width:40px;
	height:40px;
	z-index: 3;
	cursor:default;
	background-image: url(../data/UI/addShip.png);
}

#input[type=text],
#inputbtn
{
	display: block;
	z-index: 6;
    margin : 0 auto;
}

#inputbtn
{
    background-color: #005200;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:6px;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
    border:none;
}


